{% extends 'base.html' %}

{% block content %}
  <h1>Artwork Image Processor</h1>
  
  <p>Leverages the Tensorflow library to transfer painting styles onto images!</p>
  
  {% load staticfiles %}
  <h1>
    <img src="{% static "example/example_unprocessed_image.jpg" %}" alt="Image" width="169" height="169" />
    <img src="{% static "example/example_style_artwork.jpg" %}" alt="Image" width="169" height="169" /> 
    <img src="{% static "example/example_processed_image.jpg" %}" alt="Image" width="169" height="169" />
  </h1>

  <h1></h1>
  <h1></h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ imageForm.as_p }}
    <button type="submit">Upload</button>
  </form>

  {% if image %}
  <img src="{{image.imageFile.url}}" height="200" width="250" border="1"/>
  {% endif %}

{% endblock %}
